{% extends 'base.html' %}
{% block title %}OHDSI GIS{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      .btn-link.btn-anchor {
          outline: none !important;
          padding: 0;
          border: 0;
          vertical-align: baseline;
      }
      .btn-link.btn-anchor:focus {
          box-shadow: none !important;
      }
    </style>
{% endblock %}

{% block content %}
      <div class="container mb-4">
        <div class="row border-top border-bottom pt-2 pb-2">
          <form method="post" id="filterForm" name="filterForm" class="w-100">
            <div class="float-right">
              <button type="submit" class="float-right btn btn-primary">Search</button>
              <div class="float-right mr-3">
                <input type="text" class="form-control" name="searchTerm" placeholder="Enter search term(s)" value="{{ query if (query != "" and query != None) else "" }}">
              </div>
            </div>
          </form>
        </div>
        {% if results and results|length > 0 %}
        <div class="row mt-4 pt-2 pb-1">
          <h5 class="float-left ml-2 mt-2">Results (n={{ numresults }}):</h5>
        </div>
        {% for document in results %}
        <div class="row border-top pt-2 pb-2">
          <div class="col-7 align-top">
            <h4 class="float-left">{% if document['dct_title'] %}<a href="/detail/{{ document['gdsc_tablename'][0] }}?query={{ query }}">{{ document['dct_title'][0] }}</a>{% endif %}</h4>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col ml-4">
            <div class="container">
              <div class="row">
                <div class="col-10">
                  <b>Citation:</b> 
                  {% if document['dct_creator'] %}{{ document['dct_creator'][0] }}{% endif %}
                  {% if document['dct_issued'] %}({{ document['dct_issued'][0] }}){% endif %}.
                  {% if document['dct_title'] %}{{ document['dct_title'][0] }}{% endif %} [gis dataset].
                  {% if document['dct_publisher'] %}{{ document['dct_publisher'][0] }}{% endif %}.
                  {% if document['dct_identifier'] %}<a href="{{ document['dct_identifier'][0] }}" target="_blank" class="text-wrap text-break">{{ document['dct_identifier'][0] }}</a>.{% endif %}
                  {% if document['dct_modified'] %} last updated: {{ document['dct_modified'][0][:10] }}{% endif %}
                  {% if document['dcat_downloadURL'] %} Retreived from <a href="{{ document['dcat_downloadURL'][0] }}" target="_blank">{{ document['dcat_downloadURL'][0] }}</a>{% endif %} 
                  {% if document['dct_description'] %}
                  <span class="mt-2 d-block"><b>Abstract:</b> {{ document['display_description'] }}</span>
                  {% endif %}
                  {% if document['dcat_keyword'] and document['dcat_keyword']|length > 0 %}
                  <span class="mt-1 d-block"><b>key words:</b>
                    {# {% for keyword in document['dcat_keyword'] %}{{ keyword }}{{ ", " if not loop.last else "" }}{% endfor %} #}
                    {{ ", ".join(document['dcat_keyword']) }}
                  </span>
                  {% endif %}
                  {% if document['found_in'] %}
                  {% if document['found_in']['gdsc_attributes'] and document['found_in']['gdsc_attributes']|length > 0 %}
                  <span class="mt-1 d-block"><b>Attributes with <span class="highlight-term">{{ query }}</span>:</b>
                    {% for attr in document['found_in']['gdsc_attributes'] %}{{ attr[1] }}{{ ", " if not loop.last else "" }}{% endfor %}
                    {# { ", ".join([attr[0] for attr in document['found_in']['gdsc_attributes']]) } #}
                  </span>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <script>
        const collection = document.getElementById("collection");
        collection.addEventListener("change", function() {
         document.getElementById("filterForm").submit();
        });
        const active = document.getElementById("active");
        active.addEventListener("change", function() {
         document.getElementById("filterForm").submit();
        });
      </script>
{% endblock %}